{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 review-back">
            <h1 class="text-center">Customer Reviews</h1>

            <div class="d-flex justify-content-center">
            <a class="btn btn-secondary mb-3 " href="{% url 'submit_review' %}">Write a review</a>
            </div>

            <div class="review-list">
                <ul class="list-unstyled">
                    {% for review in reviews %}
                        <li class="border rounded p-3 mb-4 bg-light review-box"> 
                            <div>
                                <strong>Title:</strong> {{ review.title }}<br>
                                <strong>Visit Date:</strong> {{ review.visit_date }}<br>
                                
                                <div>
                                    <strong>Overall:</strong> 
                                    <span class="stars">
                                        {% for i in rating_range %}
                                            {% if i <= review.overall_rating %}
                                                ★ 
                                            {% else %}
                                                <span class="star-empty">★</span>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                
                                <div>
                                    <strong>Food:</strong> 
                                    <span class="stars">
                                        {% for i in rating_range %}
                                            {% if i <= review.food_rating %}
                                                ★ 
                                            {% else %}
                                                <span class="star-empty">★</span>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                
                                <div>
                                    <strong>Service:</strong> 
                                    <span class="stars">
                                        {% for i in rating_range %}
                                            {% if i <= review.service_rating %}
                                                ★ 
                                            {% else %}
                                                <span class="star-empty">★</span>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                
                                <div>
                                    <strong>Ambience:</strong> 
                                    <span class="stars">
                                        {% for i in rating_range %}
                                            {% if i <= review.ambience_rating %}
                                                ★ 
                                            {% else %}
                                                <span class="star-empty">★</span>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                
                                <strong>Comment:</strong> {{ review.comment }}<br>
                                <span>Created by {{ review.user.username }} on {{ review.created_on }}</span><br>
                                
                                {% if review.user == request.user %}
                                    <a href="{% url 'edit_review' review.id %}" class="btn btn-secondary btn-xs text-white">Edit</a>
                                    <a href="{% url 'delete_review' review.id %}" class="btn btn-secondary btn-xs text-white">Delete</a>
                                {% endif %}
                            </div> 
                        </li>
                    {% empty %}
                        <li>No reviews yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
