{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 review-submit rounded">
            <h1 class="text-center">Submit a Review</h1>
                <form method="post" autocomplete="off">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button type="submit">Submit Review</button>
                </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd', 
            autoclose: true
        });
    });
</script>
{% endblock %}