{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- index.html content starts here -->

<!-- Hero Section -->
<section class="hero">
    
    <div class="hero-text">
        <h1>Welcome to Big T's Chophouse!</h1>
        <p>Your go-to spot for the best steaks and burgers in town</p>
        
    </div>
</section>

<section class="about">
    <div class="logo">
       
    </div>
    <div>
        
        <p>
            Welcome to Big T's Chophouse, where tradition, bold flavors, and great entertainment come together for 
            the ultimate dining experience! At the heart of our kitchen is Big T, a master chef renowned for his 
            expertly crafted classic steaks. With years of experience and a deep passion for grilling the finest 
            cuts, Big T has perfected the art of delivering tender, flavorful steaks that keep our guests coming 
            back for more.
            <br>But at Big T's, we offer more than just incredible food. Our restaurant is also the place to be for 
            live music events, creating the perfect atmosphere for a relaxed and fun evening out. Whether 
            you're enjoying the soulful sounds of local country bands, the energetic buzz of local rock bands or
            the twang of an acoustic set, you'll experience the perfect pairing of great food and lively entertainment.
            <br>Join us at Big T's Chophouse for a meal that satisfies your cravings and country tunes that lift your 
            spirits. From steaks to sides, and from great food to great music, we offer an experience like no other.
        </p>
    </div>

    <div class="book">
        <a href="{% url 'reservation_create' %}" class="btn btn-primary btn-lg">BOOK A TABLE</a>
    </div> 
    


</section>
    

{% endblock %}
<!-- index.html content ends here -->


