{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- Carousel Hero Section -->
<div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
    <li data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#heroCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#heroCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Carousel Inner (Slides) -->
    <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active hero-slide-1">
        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center hero-text">
        <h1 class="text-white">Welcome to Big T's Chophouse</h1>
        <p class="text-white">your go to restaurant for steaks and burgers</p>
        <a href="menu" class="btn btn-lg btn-primary">Explore Menu</a>
        </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item hero-slide-2" >
        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center hero-text">
        <h1 class="text-white">Book Your Table</h1>
        <p class="text-white">Sign up now for 20% off your first reservation</p>
        <a href="{% url 'reservation_create' %}" class="btn btn-lg btn-primary">Book Now</a>
        </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item hero-slide-3">
        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center hero-text">
        <h1 class="text-white">Live Music Events</h1>
        <p class="text-white">Check out our events</p>
        <a href="#events" class="btn btn-lg btn-primary">Events</a>
        </div>
    </div>
    </div>

    <!-- Carousel Controls -->
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
    
    
<!--About Section-->
<section class="about">
    <div class="logo"></div>
        <div>
            <h2>About Big T's</h2>     
            <p>
                Welcome to Big T's Chophouse, where tradition, bold flavors, and great entertainment come together for 
                the ultimate dining experience! At the heart of our kitchen is Big T, a master chef renowned for his 
                expertly crafted classic steaks. With years of experience and a deep passion for grilling the finest 
                cuts, Big T has perfected the art of delivering tender, flavourful steaks that keep our guests coming 
                back for more.
                <br><br>At Big T's, we offer more than just incredible food. Our restaurant is also the place to be for 
                live music events, creating the perfect atmosphere for a relaxed and fun evening out. Whether 
                you're enjoying the soulful sounds of local country bands, the energetic buzz of local rock bands or
                the twang of an acoustic set, you'll experience the perfect pairing of great food and lively entertainment.
                <br><br>Join us at Big T's Chophouse for a meal that satisfies your cravings and country tunes that lift your 
                spirits. From steaks to sides, and from great food to great music, we offer an experience like no other.
            </p>
        </div>

    <div class="book">
        <a href="{% url 'reservation_create' %}" class="btn btn-primary btn-lg">BOOK A TABLE</a>
    </div> 
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-start text-center opening">
                <h2>Opening times</h2>
                <p>Monday 18:00- 22:00</p>
                <p>Tuesday 18:00- 22:00</p>
                <p>Wednesday 18:00- 22:00</p>
                <p>Thursday 18:00- 22:00</p>
                <p>Friday 18:00- Late</p>
                <p>Saturday 18:00- Late</p>
                <p>Sunday 18:00- 22:00</p>
                <p>The restaurant closes at 22:00 daily for dinner reservations. <br>On Fridays and Saturdays our bar is open till late</p>
            </div>
            <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center"></div>
            <div class="col-md-4 text-start sign">   
            </div>
        </div>
    </div>
</section>

<section id="events">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
                <div class="poster">
                </div> 
            </div>

            <div class="col-12 col-md-8">
                <h2>Upcoming Events</h2>
                <p><strong>Friday, 1st September</strong></p>
                <p>Riff Raff Return</p>
                <p>An evening of rock</p>
                <p>9pm till late</p>
                <p>The Saloon Bar</p>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}



