{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex justify-content-center mt-5 mb-5 rounded bootstrap-datepicker">
    <div class="card p-4 border border-dark rounded-5" style="width: 100%; max-width: 500px;">
        <h1 class="d-flex justify-content-center">Create Booking</h1>
        <form method="post" autocomplete="off">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="form-group">
                
            </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>    
</div>


{% endblock %}
