{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
  <div class="card p-4" style="width: 100%; max-width: 500px;">
      <h1 class="d-flex justify-content-center">Thanks for booking</h1>
      <p>Your reservation for {{ reservation.number_of_guests }} guests on {{ reservation.date }} at {{ reservation.time }} has been confirmed</p>
      <p>We look forward to seeing you!</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      </form>
      <div class="text-center mt-3">
          <a class="btn btn-secondary" href="{% url 'reservation_list' %}"><button>View my reservations</button></a>
          <a class="btn btn-secondary" href="{% url 'home' %}"><button>back to home</button></a>
      </div>
  </div>
  
{% endblock %}