{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="d-flex justify-content-center mt-5 rounded">
    <div class="card p-4 account-menu" style="width: 100%; max-width: 500px;">
        <h1 class="d-flex justify-content-center">My Account</h1>
            <p>Go to the home page, update your profile information, read and update your reservations and reviews!</p>

            <div class="button-grid account">
                <a class="btn btn-secondary" href="{% url 'home' %}">Home Page</a>
                <a class="btn btn-secondary" href="{% url 'profile_update' %}">Update my details</a>
                <a class="btn btn-secondary" href="{% url 'reservation_list' %}">My bookings</a>
                <a class="btn btn-secondary" href="{% url 'review_list' %}">My Reviews</a>
            </div>
    </div>
</div>

{% endblock %}
