@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Base Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://res.cloudinary.com/bigts/image/upload/v1724331886/barn-background_dct5lu.webp');
    background-size: cover; 
    background-position: center; 
}

/* Headers */
h1, h2 {
    font-family: 'Lora', Arial, serif;
    font-weight: 700; 
}

p, li {
    font-size: 16px;
    line-height: 1.5; 
}

/* Nav Bar */
nav {
    background-color: #d4af37;
    padding: 10px 20px;
    box-shadow: 0 3px 3px #333333;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

/* Custom nav link hover effect */
.navbar-dark .navbar-nav .nav-link {
    color: black; 
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #000; 
    transition: width 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000; 
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%; 
}

.nav-link.active {
    color: #ccc; 
}
.navbar-toggler-icon .nav-item{
    color: black;
}

/* Button Styles */
button, .btn {
    background-color:  #7B2B30;
    color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: rgba(210, 17, 17, 0.2);
    color: #000;
}

/* Hero Carousel Section */

/* images */
.hero-slide-1 {
    background-image: url('https://res.cloudinary.com/bigts/image/upload/v1724331886/hero_svrd4o.webp');
}
.hero-slide-2 {
    background-image: url('https://res.cloudinary.com/bigts/image/upload/v1724332740/tbone_steak_mo10ms.webp');
}
.hero-slide-3 {
    background-image: url('https://res.cloudinary.com/bigts/image/upload/v1724331886/guitar_zqvpct.webp');
}

#heroCarousel .carousel-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Add a dark overlay using ::before pseudo-element */
#heroCarousel .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}

/* Carousel Caption Styling */
.carousel-caption {
    position: absolute;
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.carousel-caption h1 {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: white;
}

.carousel-caption p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.carousel-caption .btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}

/* About styles */
.about {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 30px;
    grid-gap: 40px;
    background-color: #d4af37;
    
}

/*book now button*/
.book {
    text-align: center;
}

.book a {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #000;
    transition: background-color 0.3s ease;
}

.book a:hover {
    background-color: #444;
}

/* logo styles */

.logo {
    background: url('https://res.cloudinary.com/bigts/image/upload/v1724332911/logo-transparent_yqgyfr.webp') no-repeat center center;
    background-size: contain;
    width: 260px;
    height: 260px;
}

#logo-nav {
    background: url('https://res.cloudinary.com/bigts/image/upload/v1724332911/logo-transparent_yqgyfr.webp') no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 60px;
}

/*opening */
.opening {
    background-color: rgba(245, 240, 230, 0.9);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
}

.sign {
    
    background: url('https://res.cloudinary.com/bigts/image/upload/v1724332740/sign_ltwc4g.webp') no-repeat center center;
    background-size: contain;
}

/* events styles */
#events {
    background-color: #f5deb3;
}

.poster {
    background: url('https://res.cloudinary.com/bigts/image/upload/v1724646947/live-poster_tskms8.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 200px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}


/* Menu styles */
.menu-section {
    margin-bottom: 2rem;
}

.menu {
    background-image: url('https://res.cloudinary.com/bigts/image/upload/v1724886615/paper_szn2hj.webp');
    border-radius: 25px; 
    overflow: hidden; 
    padding: 30px;
    margin-bottom: 35px;
}

.menu-category {
    font-size: 1.75rem;
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.menu-item h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.menu-item p {
    font-size: 1rem;
    color: #373131;
    margin: 0.5rem 0;
}

.price {
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.menu-items li {
    margin-bottom: 10px; 
}

.menu-section {
    margin-bottom: 30px; 
}

.menu-item, span.price {
    margin-top: 5px; 
    display: block;  
}

.menu-navigation {
    background-color: transparent !important; 
    box-shadow: none !important;
}

.menu-navigation .nav-link {
    color: black !important; 
    background-color: transparent !important; 
    padding: 0.5rem 1rem; 
}

.menu-navigation .nav-link:hover,
.menu-navigation .nav-link:focus {
    color: black !important; 
    text-decoration: underline; 
}
/* datepicker styles */
.datepicker-days td {
    padding: 5px;
    margin: 2px;
    width: 25px;
}

.datepicker .form-control {
    font-size: 1.2rem; 
    padding: 12px; 
    width: 100%; 
}
.datepicker-days .today {
    background-color: #d4af37; 
}

.disabled-date .ui-state-disabled {
    background-color: #d3d3d3 !important; 
    color: #a0a0a0 !important; 
    cursor: not-allowed; 
}

/* Reservation styles */
.reservation-list, .account-menu, .logout {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

/* Review styles */
.review-back, .review-submit, .edit-review {
    background-color: white;
    border-radius: 27px !important;
    padding: 20px; 
    border: 2px solid #070707 !important; 
    margin-bottom: 40px;
}

.review-box  {
    border: 2px solid #070707 !important; 
    color: black;
    border-radius: 27px !important;
    padding: 20px; 
    margin-bottom: 20px; 
    background-color: white; 
}

.review-box a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.review-box li {
    list-style: none; 
}

.stars{
    display: inline-block;
    font-size: 15px;
    color: gold;  
}
.star-empty {
    color: #ccc;  
}

.review-list {
    padding-bottom: 50px;
    border:#000;
}
/* Account menu styles */
.account-menu, .logout, .signup {
    border: 2px solid black;
    text-align: center;
    padding: 30px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    justify-items: center; 
    align-items: center; 
}

.button-grid .btn {
    width: 100%; 
    max-width: 200px; 
    height: 50px; 
    text-align: center; 
    padding: 30px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Footer Styles */
footer {
    background-color: #3e2813; 
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.my_msg {
    background-color: #d4af37;
}

footer a {
    color: #FFFDB8; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media queries */
@media (max-width: 1200px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 20px;
    }
    
}

@media (max-width: 991px) {
    .about-text p {
        font-size: 1.1rem;
    }
    
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.25rem;
    }

    .detail {
        margin-left: 15px;
        margin-top: 15px;
    }

    #events .poster {
        margin-top: 50px;
        height: 300px;
        margin-left: 250x;
        margin-bottom: 50px;
    }

    .about {
        grid-template-columns: 1fr;
        justify-items: center;
    }


}

@media (max-width: 768px) {
    
    .hero-text h1 {
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .hero-text p {
        font-size: 0.5rem;
        margin: 0 10px;
    }

    .about {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .book a {
        font-size: 1rem;
        padding: 10px 20px;
    }

    #heroCarousel .carousel-item {
        height: 300px; 
        width: 100%;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .carousel-caption p {
        font-size: 1rem;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .carousel-caption .btn {
        font-size: 0.8rem;
        padding: 8px 15px;
    }

    .logo {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .opening {
        margin: 20px 5px;
    }

    .sign {
        max-width: 100%;
    }
    .table {
        padding-left: 0;
        margin-left: 0;
    }

    th, td {
        font-size: 0.8rem; 
    }

    .status-text {
        font-size: 0.7rem; 
    }

    .reservation-list {
        background-color: white;
        border-radius: 20px;
        border: 2px solid black;
    }
    
    #events .poster {
        height: 150px;   
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        text-align: center; 
    }

    .footer {
        font-size: 12px; 
    }

    .footer a {
        font-size: 12px;
    }

    .reservation-list {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}