/* Base Styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(166, 114, 49);
}

/* Headers */
h1, h2 {
    font-family: 'Bebas Neue', Impact, sans-serif;
    color: #B22222; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
}

/* Nav Bar */
nav {
    background-color: rgb(166, 114, 49);
    color: #FFF;
    padding: 10px 20px;
    box-shadow: 0 3px 3px #333333;
}

nav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar-nav .nav-link {
    transition: transform 0.2s ease, font-size 0.2s ease;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.2);
    font-size: 18px;
}

/* Button Styles */
button, .btn {
    background-color: rgba(210, 17, 17, 0.2); 
    color: #FFF;
    border: 1px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Bebas Neue', Impact, sans-serif;
}

button:hover, .btn:hover {
    background-color: #A52A2A; 
}

/* Hero Section */
.hero {
    position: relative;
    background: url('/static/images/hero.webp') no-repeat center center;
    background-size: cover; 
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 9;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    color: white;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-text .btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}
/* About styles */
.about {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 30px;
    grid-gap: 40px;
}

.book {
    text-align: center;
}

.book a {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid #000;
    transition: background-color 0.3s ease;
}

.book a:hover {
    background-color: #444;
}

.logo {
    background: url('/static/images/logo-transparent.webp') no-repeat center center;
    background-size: contain;
    width: 260px;
    height: 260px;
}

#logo-nav {
    background: url('/static/images/logo-transparent.webp') no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 60px;
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #FFF;
}

th, td {
    width: 10%; 
    white-space: nowrap; 
    padding: 5px;
    border: 1px solid #8B4513; 
    padding: 10px;
    text-align: center;
    background-color: #FFF;
}

thead {
    background-color: #B22222; 
    color: #FFF;
    text-align: center;
}

td {
    background-color: #FFFDD0; 

}

/* Review styles */
.stars {
    display: inline-block;
    font-size: 100px;
    color: #ffd700;  
}
.star-empty {
    color: #ccc;  
}

/* Footer Styles */
footer {
    background-color: #654321; 
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #FFFDB8; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .logo {
        width: 200px;
        height: 200px;
    }

    .about-text p {
        font-size: 1.1rem;
    }
    
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .book a {
        font-size: 1rem;
        padding: 10px 20px;
    }
}