{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 menu">
            <header class="text-center mb-5">
                <h1>Big T's Chophouse Menu</h1>
                
                <nav class="menu-navigation mb-4">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#starters">Starters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#signature-steaks">Signature Steaks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mains">Mains</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sides">Sides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#drinks">Drinks</a>
                        </li>
                    </ul>
                </nav>
            </header>
            
            <!-- Starters Section -->
            <section id="starters" class="menu-section">
                <h2 class="menu-category">Starters</h2>
                <ul class="menu-items list-unstyled">
                    <li class="menu-item">
                        <h3>Tomatoes & Ricotta on Toast</h3>
                        <p>A fresh start with rich ricotta and seasonal tomatoes.</p>
                        <span class="price">£7.50</span>
                    </li>
                    <li class="menu-item">
                        <h3>Pig’s Head on Toast</h3>
                        <p>With pickled chillies and house-made gravy.</p>
                        <span class="price">£8.00</span>
                    </li>
                </ul>
            </section>
            
            <!-- Sharers section -->
            <section id="signature-steaks" class="menu-section">
                <h2 class="menu-category">Signature Steaks</h2>

                <h3 class="sub-category underline">Sharers</h3>
                <ul class="menu-items list-unstyled">
                    <li class="menu-item">
                        <h3>The Big T-bone Steak!</h3>
                        <p>Big T's famous signature 32oz T-bone steak, perfect for sharing or a challenge!</p>
                        <span class="price">£42.95</span>
                    </li>
                    <li class="menu-item">
                        <h3>The Cowboy!</h3>
                        <p>1kg beef cowboy steak on the bone, ideal with a crisp beer or red wine.</p>
                        <span class="price">£49.95</span>
                    </li>
                </ul>
            </section>

            <!-- Mains Section -->
            <section id="mains" class="menu-section">
                <h3 class="sub-category underline">Mains</h3>
                <ul class="menu-items list-unstyled">
                    <li class="menu-item">
                        <h3>Big T's little brother!</h3>
                        <p>Big T's just as famous 16oz T-bone steak, succulent and juicy.</p>
                        <span class="price">£22.50</span>
                    </li>
                    <li class="menu-item">
                        <h3>Fillet Steak</h3>
                        <p>Luxury 8oz fillet, tender with a smooth texture and delicious flavor.</p>
                        <span class="price">£18.95</span>
                    </li>
                    <li class="menu-item">
                        <h3>Sirloin Steak</h3>
                        <p>Delicious 8oz sirloin, aged and cut by our expert butchers.</p>
                        <span class="price">£16.95</span>
                    </li>
                    <li class="menu-item">
                        <h3>Big T's Ladder</h3>
                        <p>Succulent barbecued rack of short ribs with Big T's special BBQ sauce.</p>
                        <span class="price">£18.95</span>
                    </li>
                    <li class="menu-item">
                        <h3>Big T's Brisket Burger</h3>
                        <p>Perfectly seasoned 8oz juicy burger that will blow your mind.</p>
                        <span class="price">£12.95</span>
                    </li>
                    <li class="menu-item">
                        <h3>The Cheesy One</h3>
                        <p>Grass-fed beef patty with your choice of cheese: American, Cheddar, Monterey Jack, or Wookey.</p>
                        <span class="price">£13.95</span>
                    </li>
                    <li class="menu-item">
                        <h3>The Plant burger</h3>
                        <p>Not just for vegans, this delicious plant based patty is seasoned with herbs and spices
                             and smoked to give it a rich, savory flavor </p>
                        <span class="price">£12.95</span>
                    </li>
                </ul>
            </section>

            <!-- Roasts Section -->
            <section id="roasts" class="menu-section">
                <h2 class="menu-category">Sunday Roasts</h2>
                <p>All roasts come with Yorkshire puddings, roast potatoes, seasonal vegetables, and house gravy.</p>
                <ul class="menu-items list-unstyled">
                    <li class="menu-item">
                        <h3>55 Day Aged Beef Rump</h3>
                        <span class="price">£22.00</span>
                    </li>
                    <li class="menu-item">
                        <h3>28 Day Aged Lamb Leg</h3>
                        <span class="price">£20.00</span>
                    </li>
                    <li class="menu-item">
                        <h3>Barbecued Cauliflower Chop (v)</h3>
                        <span class="price">£17.00</span>
                    </li>
                </ul>
            </section>

            <!-- Sides Section -->
            <section id="sides" class="menu-section">
                <h2 class="menu-category">Sides</h2>
                <ul class="menu-items list-unstyled">
                    <li class="menu-item">
                        <h3>Not So French Fries</h3>
                        <p>Big T's special seasoned skin-on fries.</p>
                        <span class="price">£5.00</span>
                    </li>
                    <li class="menu-item">
                        <h3>Buttery Mash</h3>
                        <p>Maris Piper mashed potatoes with butter and seasoning.</p>
                        <span class="price">£5.00</span>
                    </li>
                    <li class="menu-item">
                        <h3>Seasoned Mixed Vegetables</h3>
                        <p>A portion of fine green beans, asparagus, roasted courgettes, and carrots.</p>
                        <span class="price">£8.00</span>
                    </li>
                    <li class="menu-item">
                        <h3>Original Texas Toast</h3>
                        <p>The best cheesy garlic bread you've ever tasted!.</p>
                        <span class="price">£6.00</span>
                    </li>
                </ul>
            </section>

            <!-- Drinks Section -->
            <section id="drinks" class="menu-section">
                <h2 class="menu-category">Drinks</h2>
                <h3 class="sub-category">Wines</h3>
                <ul class="menu-items list-unstyled">
                    <li class="menu-item">
                        <h3>Châteauneuf-du-Pape (Red)</h3>
                        <span class="price">£34.00 (Bottle)</span>
                    </li>
                    <li class="menu-item">
                        <h3>Sauvignon Blanc (White)</h3>
                        <span class="price">£26.00 (Bottle)</span>
                    </li>
                    <p class="text-center">All prices exclude service charge.</p>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock %}
