{% extends "base.html" %}
{% load static %}


{% block content %}

<header>
    <h1>Big T's Chophouse Menu</h1>
</header>

<section id="starters">
    <h2>Starters</h2>
    <ul>
        <li>
            <h3>Tomatoes & Ricotta on Toast</h3>
            <p>A fresh start with rich ricotta and seasonal tomatoes.</p>
            <span>£7.50</span>
        </li>
        <li>
            <h3>Pig’s Head on Toast</h3>
            <p>With pickled chillies and house-made gravy.</p>
            <span>£8.00</span>
        </li>
    </ul>
</section>

<section id="roasts">
    <h2>Sunday Roasts</h2>
    <p>All roasts are served with Yorkshire pudding, roast potatoes, seasonal vegetables, and house gravy.</p>
    <ul>
        <li>
            <h3>55 Day Aged Beef Rump</h3>
            <span>£25.00</span>
        </li>
        <li>
            <h3>28 Day Aged Lamb Leg</h3>
            <span>£24.00</span>
        </li>
        <li>
            <h3>Barbecued Cauliflower Chop</h3>
            <span>£17.00</span>
        </li>
    </ul>
</section>

<section id="sides">
    <h2>Sides</h2>
    <ul>
        <li>
            <h3>Cauliflower & Four Cheeses</h3>
            <p>Arriving bubbling like Mt. Vesuvius.</p>
            <span>£5.00</span>
        </li>
        <li>
            <h3>Summer Peas and Broad Beans</h3>
            <p>Muddled with mint, fresh from the garden.</p>
            <span>£5.00</span>
        </li>
    </ul>
</section>

<section id="drinks">
    <h2>Wine & Drinks</h2>
    <ul>
        <li>
            <h3>Friulano, Tenuta Aurea (White Wine)</h3>
            <span>£28.00 (Bottle)</span>
        </li>
        <li>
            <h3>Primitivo, Domus (Red Wine)</h3>
            <span>£34.00 (Bottle)</span>
        </li>
    </ul>
</section>

<footer>
    <p>All prices include a 12.5% service charge.</p>
</footer>
    

{% endblock %}